VITE_SUPABASE_URL=https://supapers.itmconsulting.es
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.ewogICJyb2xlIjogImFub24iLAogICJpc3MiOiAic3VwYWJhc2UiLAogICJpYXQiOiAxNzE1MDUwODAwLAogICJleHAiOiAxODcyODE3MjAwCn0.qPYvk4GYIxKU-fVHDbTD3TYHo5eTsGp17EszifM2n2Q